{
	"presets": [
    	[
			"@babel/preset-env", 
			{ 
				"modules": false 
			}
		], // ensures ESM
    	"@babel/preset-react"
  	],
	"plugins": [
		[
			"module-resolver", {
				"alias": {
					"@": "./src"
				}
			}
		]
	]
}